.{
padding:0;
margin:0;
}

html{
font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", YuGothic, "ヒラギノ角ゴ ProN W3", Hiragino Kaku Gothic ProN, Arial, "メイリオ", Meiryo, sans-serif;
padding:0;
margin:0;
text-align:center;
background-color:#9f303b;
}

body{
padding:0;
margin:0;
}

#camera1{
overflow:hidden;
}

#camera2{
position:relative;
top:10px;
overflow:hidden;
}

.name {
width:100%;
font-size:20px;
text-align:center;
font-weight:900;
color:#ffffff;
}

#title{
font-size:30px;
width:100vw;
font-weight:900;
color:#ffffff;
overflow:visible;
}

.camera{
text-align:center;
border-radius:10px;
border:solid #ffffff 4px;
}

@media only screen and (max-width: 750px) {
iframe{
transform:scale(0.55);
transform-origin:0 0;
}

#camera1{
max-width:750px;
height:40vh;
}
#camera2{
max-width:750px;
height:40vh;
top:0;
}
#title{
font-size:15px;
}
.name{
font-size:13px;
}
}
